body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.slide0{
    background-image:url("https://user-images.githubusercontent.com/76869545/132176742-ff20f3bc-b163-4fc8-a0ed-7a438c6f8152.jpg");
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.text{
    display: block;
    text-align: center;
}
.logos{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top:15vh;  
}
.images
{
    display: flex;
    justify-content: center;

}
.t1{
    color: white;
    font-size:small;
}
.t2{
    padding: 10px;
}
.slide1{
    background-image:url("https://user-images.githubusercontent.com/76869545/132176760-2d7d6e07-c4b4-4a5a-8cf6-f1ab576c23c5.jpg");
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
      
}
.slide2{
    background-image:url("https://previews.123rf.com/images/venemama/venemama1811/venemama181100086/115462737-food-truck-in-a-classic-yellow-volkswagen-van-at-the-garuda-wisnu-kencana-cultural-park.jpg");
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.slide3{
    background-image:url("https://user-images.githubusercontent.com/76869545/132176803-13c776a3-706f-44c9-8967-f076672f570c.jpg");
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
}
.content1{
    display:flex;
    
}
#trans{
    animation: animate 2s ease-in;
    position: relative;
    
}
@keyframes animate {
    0% {
        left: -300px;
    }
    100% {
        left:50px;
    }
}
#txt1{
    padding-top:10vh;
    padding-left: 30vh;
}
.content2{
    display:flex;
} 
#trans1{
    animation: animate1 2s ease-in;
    position: relative;
    
} 
@keyframes animate1 {
   0%{
    right: -300px;
   }
    100% {
        right:50px;
    }
}  
#txt3{
    padding-top:10vh;
    padding-left: 20vh;
}
.content3{
    animation: animate2 2s ease-in;
    position: relative;
    top:-20vh;
    padding-left: 20vh;

}
@keyframes animate2 {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;;
    }
} 
@media only screen and (max-width:868px){
    
    .content1{
        display: block;
    }
    @keyframes animate1 {
        0%{
         right: -50px;
        }
         100% {
             right:50px;
         }
     }
     .content2{
        display:block;
    } 
    @keyframes animate1 {
        0%{
         right: -50px;
        }
         100% {
             right:50px;
         }
     } 
     .content3{
        top:-5vh;
        padding-left: 5vh;
     }
     #txt1{
        padding-top:5vh;
        padding-left: 10vh;
    }
    #txt3{
        padding-top:5vh;
        padding-left: 10vh;
    }
    .log{
        width: 100%;
    }
    .blocked{
        width: 100%;
    }
   
  
    
    
} 
#about{
    background-image: url("https://user-images.githubusercontent.com/76869545/132180927-747e54ed-2f78-44a3-ab35-7e28a89f84d8.jpg");
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.about-container{
   display:flex;
   margin-left: auto;
   margin-right: auto;
   width:50%;
    
}
.log{
    padding-top: 20px;
    width:50%;
}
.tit{
    text-align: center;
}
.tots{
    display: flex;
    justify-content: center;
}
.m1{
    padding-left: 30px;
}
#franchise{
    background-image: url("https://user-images.githubusercontent.com/76869545/132180964-c7a3963d-9bf1-4bef-a47e-82a4e10a3339.jpg");
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.elem{

    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20vh;
     
    
}
#contact{
    background-color: black;
    display: flex;
    justify-content: center;
    
}